gitignore
__pycache__/
*.pyc
*.pyo
*.pyd

data/invitados.db
data/~$invitados.xlsx
data/PyWhatKit_DB.txt

packaging/build/
packaging/dist/
packaging/Output/

release/build/
release/dist/
release/archive/
release/output/

*.exe
*.zip